
body{
background-color: #f4ece2;
}
.jumbotron{
    background-color: #bde2e4;
}
.card-header{
    background-color: #6bd3e0;
}

.employee-card{
    width: 300px;
    max-width: 500px;
    box-shadow: 5px 5px 15px 0;
}
.col{
    flex-grow: 0;
}